<!DOCTYPE html>
<html lang="ja">
  <head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <title>MemoApp</title>
	  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	</head>
  	<body>
		<div class="container">
			<h1>MemoApp <small>Version <%= version %></small></h1>
		  	<a href="#" data-remote="/memos" class="btn btn-primary" data-toggle="modal" data-target="#dialog" data-backdrop="static" data-keyboard="false">新規作成</a>
			<div class="table-responsive">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th class="col-sm-8">タイトル</th>
						<th class="col-sm-3 text-center">更新日時</th>
						<th class="col-sm-1 text-center">削除</th>
					</tr>
				</thead>
				<tbody>
					<% list.forEach(function(row) { %>
					<tr>
						<td>
							<a href="#" data-remote="/memos/<%= row.id %>" data-toggle="modal" data-target="#dialog" data-backdrop="static" data-keyboard="false"><%= row.title %></a>
						</td>
						<td class="text-center">
							<%= row.updatedAt %>
						</td>
						<td class="text-center">
						<form method="POST" action="/memos/<%= row.id %>?_method=DELETE">
							<button type="submit" class="btn btn-link btn-xs">
							  <span aria-hidden="true" class="glyphicon glyphicon-remove"></span><span class="sr-only">削除</span>
							</button>
						</form>
						</td>
					</tr>
					<% }); %>
				</tbody>
			</table>
		  </div>
		  <div class="modal" id="dialog" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
		  <div class="modal-dialog">
          <div class="modal-content"></div>
        </div>
      </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $(document).on("hidden.bs.modal", function(event) {
          $(event.target).removeData("bs.modal").find(".modal-content").empty();
        });
      });
    </script>
  </body>
</html>
